footer {
    position: relative;
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        h1 {
            font-size: 1.8rem;
            font-weight: 400;
            text-transform: capitalize;
            line-height: 3rem;
        }
        p {
            max-width: 500px;
            margin: 10px auto;
            line-height: 28px;
            font-size: 14px;
        }
        .socials {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem 0 1rem 0;
            li {
                margin: 0 10px;
                a {
                    text-decoration: none;
                    color: #fff;
                    i {
                        font-size: 1.1rem;
                        transition: color .4s ease;
                    }
                }
                &:hover i {
                    color: rgb(255, 179, 0);
                }
            }
        }
    }
    .coffee-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        a {
            box-shadow: 0 0 15px rgb(19, 19, 19);
            background: linear-gradient(129deg, #e85d04 0%, #d00000 100%);
            color: #fff;
            font-weight: 500;
            display: flex;
            margin: 0 auto 1rem;
            padding: 5px 25px;
            border-radius: 15px;
            line-height: 28px;
            font-size: 15px;
            .icon {
                margin: 0 5px;
            }
        }
    }
    .footer-bottom {
        background: #000;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        p {
            font-size: 14px;
            word-spacing: 2px;
            text-transform: capitalize;
        }
    }
}
